.container {
  margin-top: 15px;
}

.example-1__container {
  overflow: hidden;
  left: 0;
  right: 0;
}

.example-1__controls {
  display: inline-block;
  width: 100%;
}

.example-1__controls .prev-page {
  float: left;
}

.example-1__controls .next-page {
  float: right;
}

.example-1__image-list {
  display: inline-block;
  list-style-type: none;
}

.example-1__image-list li {
  float: left;
  padding: 2px;
}

.example-1__image-list img {
  display: block;
  width: 256px;
  height: 256px;
}
